<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Details</title>
</head>
<body>

<div class="container-fluid" th:insert="~{navbar1}">
</div>

<div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form th:action="@{'/details'}" method="post">
                <input type="hidden" name="id" th:value="${option.id}">
                <div class="form-group">
                    <label th:text="#{meridian.number}"></label>
                    <input type="number" min="1" max="10000" step="1" tclass="form-control" name="gun_number" th:value="${option.numberOfGun}">
                </div>
                <div class="form-group">
                    <label th:text="X">X</label>
                    <input type="number" min="0" step="0.000001" tclass="form-control" name="x" th:value="${option.getX()}">
                </div>
                <div class="form-group">
                    <label th:text="Y">Y</label>
                    <input type="number" min="0" step="0.000001" tclass="form-control" name="y" th:value="${option.getY()}">
                </div>
                <div class="form-group">
                    <label th:text="#{meridian.target}"></label>
                    <input type="number" min="1" max="10000" step="1" tclass="form-control" name="target_one" th:value="${option.getNumberOfTargetOne()}">
                </div>
                <div class="form-group">
                    <label th:text="#{meridian.azimuth}"></label>
                    <input type="text" tclass="form-control" name="azimuth_one" th:value="${option.getAzimuthOne()}">
                </div>
                <div class="form-group">
                    <label th:text="#{meridian.distance}"></label>
                    <input type="number" min="0" step="0.000001" tclass="form-control" name="distance_one" th:value="${option.getDistanceOne()}">
                </div>
                <div class="form-group">
                    <label th:text="#{meridian.target}"></label>
                    <input type="number" min="1" max="10000" step="1" tclass="form-control" name="target_two" th:value="${option.getNumberOfTargetTwo()}">
                </div>
                <div class="form-group">
                    <label th:text="#{meridian.azimuth}"></label>
                    <input type="text" tclass="form-control" name="azimuth_two" th:value="${option.getAzimuthTwo()}">
                </div>
                <div class="form-group">
                    <label th:text="#{meridian.distance}"></label>
                    <input type="number" min="0" step="0.000001" tclass="form-control" name="distance_two" th:value="${option.getDistanceTwo()}">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" th:text="#{button.save}"></button>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#deleteModal" th:text="#{button.delete}">
                    </button>
                </div>
            </form>

            <!-- Modal -->
            <div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form th:action="${'/delete'}" method="post">
                        <input type="hidden" name="id" th:value="${option.id}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5 th:text="#{message.confirm}"></h5>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{button.cancel}"></button>
                                <button  class="btn btn-danger" th:text="#{button.delete}"></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

</body>
</html>